node_modules
.DS_Store
dist
.deploy
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# Ignore build artifacts and environment files
bin/
dev
dev.env
master
master.env